## Gather

In [1]:
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [3]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,LiÃªm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,WoÅºniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,SÃ¸ren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,TÃ¡m,Liá» u,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,SamÃºel,GuÃ°brandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,GaliÄ,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,LÃ¶fgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,LindstrÃ¶m,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [4]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrovÃ¡,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,mÃ©nard,-,54u - 54u,8.08,7.70,NaN
9,asia,woÅºniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiÃ¤,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,Å¾ibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,staniÄ,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoÃ®t,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nÃ¸rgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebÃ¸,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samÃºel,guÃ°brandsson,53u - 56u,-,8.00,7.64,0.36

In [ ]:
adverse_reactions

In [ ]:
patients.info()

In [ ]:
treatments.info()

In [ ]:
adverse_reactions.info()

In [ ]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

In [ ]:
list(patients)

In [ ]:
patients[patients['address'].isnull()]

In [ ]:
patients.describe()

In [ ]:
treatments.describe()

In [ ]:
patients.sample(5)

In [ ]:
patients.surname.value_counts()

In [ ]:
patients.address.value_counts()

In [ ]:
patients[patients.address.duplicated()]

In [ ]:
patients.weight.sort_values()

In [5]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [6]:
patients[patients.surname == 'Zaitseva'].bmi

210    19.1
Name: bmi, dtype: float64

In [ ]:
sum(treatments.auralin.isnull())

In [ ]:
sum(treatments.novodra.isnull())

#### Quality
##### `patients` table
- Zip code is a float not a string
- Zip code has four digits sometimes
- Tim Neudorf height is 27 in instead of 72 in
- Full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns) ***(can't clean)***
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- Multiple phone number formats
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight

##### `treatments` table
- Missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- Lowercase given names and surnames
- Missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (leading 4s mistaken as 9s)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `adverse_reactions` table
- Lowercase given names and surnames

#### Tidiness
- Contact column in `patients` table should be split into phone number and email
- Three variables in two columns in `treatments` table (treatment, start dose and end dose)
- Adverse reaction should be part of the `treatments` table
- Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables

## Clean

In [57]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Missing Data

<font color='red'>Complete the following two "Missing Data" **Define, Code, and Test** sequences after watching the *"Address Missing Data First"* video.</font>

#### `treatments`: Missing records (280 instead of 350)

##### Define
Concatenate the treatments_clean dataframe and the treatments_cut.csv (which contains the missing `treatments` records)

##### Code

In [58]:
treatments_clean_concat = None
treatments_clean_concat = pd.concat([treatments_clean, pd.read_csv('treatments_cut.csv')], ignore_index=True)
treatments_clean = treatments_clean_concat

##### Test

In [59]:
treatments_clean

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrovÃ¡,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,mÃ©nard,-,54u - 54u,8.08,7.70,NaN
9,asia,woÅºniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiÃ¤,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,Å¾ibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,staniÄ,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoÃ®t,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
320,eufemio,rosario,-,37u - 40u,7.54,7.26,0.28
321,dalmacia,madrid,-,26u - 23u,7.67,7.21,0.96
322,daimy,tromp,-,40u - 45u,9.41,8.94,0.97
323,hans peter,radislav,42u - 53u,-,7.60,7.20,NaN
324,jeremy,montagu,-,52u - 52u,7.68,7.36,NaN
325,Å¡tefanija,novosel,37u - 42u,-,7.64,7.17,NaN
326,anja,mueller,43u - 56u,-,7.58,7.29,0.29
327,regolo,nucci,51u - 59u,-,7.53,7.02,NaN
328,nebechi,ekechukwu,-,37u - 39u,7.78,7.39,0.39
329,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38
330,timothy,cotton,-,26u - 25u,7.92,7.52,0.90
331,bjÃ¸rnar,nilsen,-,36u - 33u,7.99,7.70,NaN
332,vivien,zsinkÃ³,30u - 38u,-,8.35,7.92,NaN
333,genet,fesahaye,25u - 35u,-,7.73,7.36,0.37
334,borna,Å¡lezinger,-,42u - 41u,7.55,7.18,NaN
335,mary,adams,-,32u - 33u,7.65,7.26,NaN
336,blanka,jurkoviÄ,31u - 43u,-,7.77,7.33,NaN
337,joseph,tucker,48u - 56u,-,7.67,7.30,0.37
338,christopher,woodward,-,55u - 51u,7.51,7.06,0.95
339,robert,maslov,55u - 68u,-,7.65,7.35,0.30
340,maret,sultygov,-,26u - 23u,7.67,7.30,NaN
341,ella,lund,38u - 47u,-,7.57,7.21,0.36
342,fakhri,fakhoury,39u - 50u,-,7.83,7.39,NaN
343,Å¾arka,rap,35u - 48u,-,7.54,7.15,NaN
344,lixue,hsueh,-,22u - 23u,9.21,8.80,0.91
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvÃ©,36u - 46u,-,7.86,7.40,NaN

#### `treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (leading 4s mistaken as 9s)
*Note: the "Inaccurate HbA1c changes (leading 4s mistaken as 9s)" observation, which is an accuracy issue and not a completeness issue, is included in this header because it is also fixed by the cleaning operation that fixes the missing "Missing HbA1c changes" observation. Multiple observations in one **Define, Code, and Test** header occurs multiple times in this notebook.*

##### Define
Recalculate the `hba1c_change` column: `hba1c_start` minus `hba1c_end`.

##### Code

In [60]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - 
                                 treatments_clean.hba1c_end)

##### Test

In [61]:
treatments_clean

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrovÃ¡,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,mÃ©nard,-,54u - 54u,8.08,7.70,0.38
9,asia,woÅºniak,30u - 36u,-,7.76,7.37,0.39
10,joseph,day,29u - 36u,-,7.70,7.19,0.51
11,kristiina,hyypiÃ¤,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,0.40
13,gregor,bole,-,47u - 45u,7.61,7.16,0.45
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,0.44
15,enco,Å¾ibrik,55u - 68u,-,7.78,7.34,0.44
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,0.40
17,gina,cain,-,36u - 36u,7.88,7.40,0.48
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,0.42
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,0.41
20,mile,staniÄ,-,47u - 48u,7.66,7.24,0.42
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,0.43
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,0.42
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoÃ®t,bonami,-,44u - 43u,9.82,9.40,0.42
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.44
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.47
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
320,eufemio,rosario,-,37u - 40u,7.54,7.26,0.28
321,dalmacia,madrid,-,26u - 23u,7.67,7.21,0.46
322,daimy,tromp,-,40u - 45u,9.41,8.94,0.47
323,hans peter,radislav,42u - 53u,-,7.60,7.20,0.40
324,jeremy,montagu,-,52u - 52u,7.68,7.36,0.32
325,Å¡tefanija,novosel,37u - 42u,-,7.64,7.17,0.47
326,anja,mueller,43u - 56u,-,7.58,7.29,0.29
327,regolo,nucci,51u - 59u,-,7.53,7.02,0.51
328,nebechi,ekechukwu,-,37u - 39u,7.78,7.39,0.39
329,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38
330,timothy,cotton,-,26u - 25u,7.92,7.52,0.40
331,bjÃ¸rnar,nilsen,-,36u - 33u,7.99,7.70,0.29
332,vivien,zsinkÃ³,30u - 38u,-,8.35,7.92,0.43
333,genet,fesahaye,25u - 35u,-,7.73,7.36,0.37
334,borna,Å¡lezinger,-,42u - 41u,7.55,7.18,0.37
335,mary,adams,-,32u - 33u,7.65,7.26,0.39
336,blanka,jurkoviÄ,31u - 43u,-,7.77,7.33,0.44
337,joseph,tucker,48u - 56u,-,7.67,7.30,0.37
338,christopher,woodward,-,55u - 51u,7.51,7.06,0.45
339,robert,maslov,55u - 68u,-,7.65,7.35,0.30
340,maret,sultygov,-,26u - 23u,7.67,7.30,0.37
341,ella,lund,38u - 47u,-,7.57,7.21,0.36
342,fakhri,fakhoury,39u - 50u,-,7.83,7.39,0.44
343,Å¾arka,rap,35u - 48u,-,7.54,7.15,0.39
344,lixue,hsueh,-,22u - 23u,9.21,8.80,0.41
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,0.47
349,armina,sauvÃ©,36u - 46u,-,7.86,7.40,0.46

### Tidiness

<font color='red'>Complete the following four "Tidiness" **Define, Code, and Test** sequences after watching the *"Cleaning for Tidiness"* video.</font>

#### Contact column in `patients` table contains two variables: phone number and email

##### Define
Extract the *phone number* and *email* variables from the *contact* column using regular expressions and pandas' `str.extract` method. Drop the *contact* column when done.

*Your definition here. Hint 1: use regular expressions with pandas' [`str.extract` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html). Here is an amazing [regex tutorial](https://regexone.com/). Hint 2: [various phone number regex patterns](https://stackoverflow.com/questions/16699007/regular-expression-to-match-standard-10-digit-phone-number). Hint 3: [email address regex pattern](http://emailregex.com/), which you might need to modify to distinguish the email from the phone number.*

##### Code

In [63]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

# [a-zA-Z] to signify emails in this dataset all start and end with letters
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+[a-zA-Z])', expand=True)

# Note: axis=1 denotes that we are referring to a column, not a row
patients_clean = patients_clean.drop('contact', axis=1)

##### Test

In [64]:
# Confirm contact column is gone
list(patients_clean)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'birthdate',
 'weight',
 'height',
 'bmi',
 'phone_number',
 'email']

In [65]:
patients_clean.phone_number.sample(25)

291         302-698-2057
479         909 458 2515
109         601-699-4153
467         530-773-9263
393         703 716 8652
241         901-484-5225
0           951-719-9170
225         202-485-6607
262         713-556-4328
88          706-755-5723
105         919-915-8670
459         619-710-6286
82          678-350-2390
421         870-270-5502
234                  NaN
177         323-327-4721
50          570-819-1140
153         775 770 7827
265    +1 (989) 826-7884
106         765 599 8847
371    +1 (908) 287-7099
400         920-892-2965
285         580-991-9678
423         719-661-6624
277           1234567890
Name: phone_number, dtype: object

In [67]:
# Confirm that no emails start with an integer (regex didn't match for this)
patients_clean.email.sort_values().head()

404               AaliyahRice@dayrep.com
11          Abdul-NurMummarIsa@rhyta.com
332                AbelEfrem@fleckens.hu
258              AbelYonatan@teleworm.us
305    AddolorataLombardi@jourrapide.com
Name: email, dtype: object

#### Three variables in two columns in `treatments` table (treatment, start dose and end dose)

##### Define
Melt the *auralin* and *novodra* columns to a *treatment* and a *dose* column (dose will still contain both start and end dose at this point). Then split the dose column on ' - ' to obtain *start_dose* and *end_dose* columns. Drop the intermediate *dose* column

*Your definition here. Hint: use pandas' [melt function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html) and [`str.split()` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html). Here is an excellent [`melt` tutorial](https://deparkes.co.uk/2016/10/28/reshape-pandas-data-with-melt/).*

##### Code

In [71]:
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'], 
                           var_name='treatment', value_name='dose')

In [74]:
treatments_clean = treatments_clean[treatments_clean.dose != "-"]

In [76]:
treatments_clean['dose_start'], treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ', 1).str

In [78]:
treatments_clean.drop('dose', axis=1)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrovÃ¡,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u,38u
9,asia,woÅºniak,7.76,7.37,0.39,auralin,30u,36u
10,joseph,day,7.70,7.19,0.51,auralin,29u,36u
12,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u,38u
14,simone,baumgaertner,7.74,7.30,0.44,auralin,27u,37u
15,enco,Å¾ibrik,7.78,7.34,0.44,auralin,55u,68u
16,camilla,zaitseva,7.53,7.13,0.40,auralin,28u,37u
21,tekla,walczak,7.61,7.29,0.32,auralin,29u,39u
22,brancaleone,russo,8.61,8.18,0.43,auralin,53u,60u
24,isac,berg,9.68,9.29,0.39,auralin,31u,41u
28,clinton,miller,7.79,7.40,0.39,auralin,42u,51u
29,eugene,mironov,7.81,7.48,0.33,auralin,42u,49u
30,szilveszter,totth,7.70,7.38,0.32,auralin,35u,39u
34,alexander,mathiesen,7.96,7.55,0.41,auralin,47u,58u
36,chá»,lÃ¢m,7.68,7.24,0.44,auralin,45u,48u
37,wÅadysÅaw,wieczorek,7.92,7.47,0.45,auralin,24u,37u
38,kristjÃ¡n,ingason,7.92,7.57,0.35,auralin,44u,55u
42,marija,grubiÅ¡iÄ,7.53,7.15,0.38,auralin,37u,43u
44,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u,47u
46,mariana,souza,7.86,7.51,0.35,auralin,36u,42u
51,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u,37u
52,má»¹,quynh,7.61,7.16,0.45,auralin,57u,64u
54,oles,zhdanov,7.52,7.11,0.41,auralin,54u,67u
55,triana.,terrazas,7.71,7.34,0.37,auralin,34u,42u
58,gabryÅ,tomaszewski,7.87,7.47,0.40,auralin,29u,37u
59,leixandre,alanis,7.74,7.32,0.42,auralin,61u,67u
60,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u,46u
...,...,...,...,...,...,...,...,...
638,jane,citizen,7.98,7.60,0.38,novodra,37u,38u
639,angela,lavrentyev,7.61,7.14,0.47,novodra,28u,24u
640,edelma,villalpando,7.99,7.56,0.43,novodra,24u,26u
642,annika,vaara,7.73,7.34,0.39,novodra,20u,21u
644,chiho,higa,7.71,7.30,0.41,novodra,46u,46u
652,beatrycze,woÅºniak,7.54,7.17,0.37,novodra,26u,27u
653,miÅosÅaw,wiÅniewski,7.51,7.08,0.43,novodra,34u,33u
656,firenze,fodor,7.89,7.55,0.34,novodra,30u,35u
657,zoe,wellish,7.71,7.30,0.41,novodra,33u,33u
658,una,traustadÃ³ttir,8.00,7.50,0.50,novodra,35u,34u
659,luboÅ¡,pecha,7.79,7.45,0.34,novodra,30u,27u
663,meaza,brhane,7.70,7.36,0.34,novodra,37u,41u
664,adlan,shishani,7.84,7.37,0.47,novodra,43u,40u
667,sofia,hermansen,8.90,8.57,0.33,novodra,34u,34u
668,guÃ°ni,heimisson,7.64,7.24,0.40,novodra,40u,36u
670,eufemio,rosario,7.54,7.26,0.28,novodra,37u,40u
671,dalmacia,madrid,7.67,7.21,0.46,novodra,26u,23u
672,daimy,tromp,9.41,8.94,0.47,novodra,40u,45u
674,jeremy,montagu,7.68,7.36,0.32,novodra,52u,52u
678,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u,39u
679,satsita,batukayev,7.63,7.25,0.38,novodra,42u,42u
680,timothy,cotton,7.92,7.52,0.40,novodra,26u,25u
681,bjÃ¸rnar,nilsen,7.99,7.70,0.29,novodra,36u,33u
684,borna,Å¡lezinger,7.55,7.18,0.37,novodra,42u,41u
685,mary,adams,7.65,7.26,0.39,novodra,32u,33u
688,christopher,woodward,7.51,7.06,0.45,novodra,55u,51u
690,maret,sultygov,7.67,7.30,0.37,novodra,26u,23u
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u,23u
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u,26u
698,berta,napolitani,7.68,7.21,0.47,novodra,42u,44u

##### Test

In [79]:
treatments_clean.head()

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose,dose_start,dose_end
0,veronika,jindrovÃ¡,7.63,7.20,0.43,auralin,41u - 48u,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u,31u,38u
9,asia,woÅºniak,7.76,7.37,0.39,auralin,30u - 36u,30u,36u

#### Adverse reaction should be part of the `treatments` table

##### Define
Merge the adverse_reaction column to the treatments table, joining on given name and surname.

*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for the function used in the solution.*

##### Code

In [82]:
treatments_clean = pd.merge(treatments_clean, adverse_reactions_clean, 
                            on=['given_name', 'surname'], how='left')

##### Test

In [83]:
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose,dose_start,dose_end,adverse_reaction
0,veronika,jindrovÃ¡,7.63,7.20,0.43,auralin,41u - 48u,41u,48u,NaN
1,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u,33u,36u,NaN
2,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u,37u,42u,NaN
3,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u,31u,38u,NaN
4,asia,woÅºniak,7.76,7.37,0.39,auralin,30u - 36u,30u,36u,NaN
5,joseph,day,7.70,7.19,0.51,auralin,29u - 36u,29u,36u,hypoglycemia
6,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u - 38u,29u,38u,NaN
7,simone,baumgaertner,7.74,7.30,0.44,auralin,27u - 37u,27u,37u,NaN
8,enco,Å¾ibrik,7.78,7.34,0.44,auralin,55u - 68u,55u,68u,NaN
9,camilla,zaitseva,7.53,7.13,0.40,auralin,28u - 37u,28u,37u,NaN
10,tekla,walczak,7.61,7.29,0.32,auralin,29u - 39u,29u,39u,NaN
11,brancaleone,russo,8.61,8.18,0.43,auralin,53u - 60u,53u,60u,NaN
12,isac,berg,9.68,9.29,0.39,auralin,31u - 41u,31u,41u,NaN
13,clinton,miller,7.79,7.40,0.39,auralin,42u - 51u,42u,51u,throat irritation
14,eugene,mironov,7.81,7.48,0.33,auralin,42u - 49u,42u,49u,NaN
15,szilveszter,totth,7.70,7.38,0.32,auralin,35u - 39u,35u,39u,NaN
16,alexander,mathiesen,7.96,7.55,0.41,auralin,47u - 58u,47u,58u,NaN
17,chá»,lÃ¢m,7.68,7.24,0.44,auralin,45u - 48u,45u,48u,NaN
18,wÅadysÅaw,wieczorek,7.92,7.47,0.45,auralin,24u - 37u,24u,37u,NaN
19,kristjÃ¡n,ingason,7.92,7.57,0.35,auralin,44u - 55u,44u,55u,NaN
20,marija,grubiÅ¡iÄ,7.53,7.15,0.38,auralin,37u - 43u,37u,43u,NaN
21,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u - 47u,43u,47u,NaN
22,mariana,souza,7.86,7.51,0.35,auralin,36u - 42u,36u,42u,NaN
23,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u - 37u,29u,37u,NaN
24,má»¹,quynh,7.61,7.16,0.45,auralin,57u - 64u,57u,64u,NaN
25,oles,zhdanov,7.52,7.11,0.41,auralin,54u - 67u,54u,67u,NaN
26,triana.,terrazas,7.71,7.34,0.37,auralin,34u - 42u,34u,42u,NaN
27,gabryÅ,tomaszewski,7.87,7.47,0.40,auralin,29u - 37u,29u,37u,NaN
28,leixandre,alanis,7.74,7.32,0.42,auralin,61u - 67u,61u,67u,NaN
29,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u - 46u,37u,46u,NaN
...,...,...,...,...,...,...,...,...,...,...
320,jane,citizen,7.98,7.60,0.38,novodra,37u - 38u,37u,38u,NaN
321,angela,lavrentyev,7.61,7.14,0.47,novodra,28u - 24u,28u,24u,NaN
322,edelma,villalpando,7.99,7.56,0.43,novodra,24u - 26u,24u,26u,NaN
323,annika,vaara,7.73,7.34,0.39,novodra,20u - 21u,20u,21u,NaN
324,chiho,higa,7.71,7.30,0.41,novodra,46u - 46u,46u,46u,NaN
325,beatrycze,woÅºniak,7.54,7.17,0.37,novodra,26u - 27u,26u,27u,NaN
326,miÅosÅaw,wiÅniewski,7.51,7.08,0.43,novodra,34u - 33u,34u,33u,injection site discomfort
327,firenze,fodor,7.89,7.55,0.34,novodra,30u - 35u,30u,35u,NaN
328,zoe,wellish,7.71,7.30,0.41,novodra,33u - 33u,33u,33u,NaN
329,una,traustadÃ³ttir,8.00,7.50,0.50,novodra,35u - 34u,35u,34u,NaN
330,luboÅ¡,pecha,7.79,7.45,0.34,novodra,30u - 27u,30u,27u,NaN
331,meaza,brhane,7.70,7.36,0.34,novodra,37u - 41u,37u,41u,NaN
332,adlan,shishani,7.84,7.37,0.47,novodra,43u - 40u,43u,40u,NaN
333,sofia,hermansen,8.90,8.57,0.33,novodra,34u - 34u,34u,34u,injection site discomfort
334,guÃ°ni,heimisson,7.64,7.24,0.40,novodra,40u - 36u,40u,36u,NaN
335,eufemio,rosario,7.54,7.26,0.28,novodra,37u - 40u,37u,40u,NaN
336,dalmacia,madrid,7.67,7.21,0.46,novodra,26u - 23u,26u,23u,NaN
337,daimy,tromp,9.41,8.94,0.47,novodra,40u - 45u,40u,45u,NaN
338,jeremy,montagu,7.68,7.36,0.32,novodra,52u - 52u,52u,52u,NaN
339,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u - 39u,37u,39u,NaN
340,satsita,batukayev,7.63,7.25,0.38,novodra,42u - 42u,42u,42u,NaN
341,timothy,cotton,7.92,7.52,0.40,novodra,26u - 25u,26u,25u,NaN
342,bjÃ¸rnar,nilsen,7.99,7.70,0.29,novodra,36u - 33u,36u,33u,NaN
343,borna,Å¡lezinger,7.55,7.18,0.37,novodra,42u - 41u,42u,41u,NaN
344,mary,adams,7.65,7.26,0.39,novodra,32u - 33u,32u,33u,NaN
345,christopher,woodward,7.51,7.06,0.45,novodra,55u - 51u,55u,51u,nausea
346,maret,sultygov,7.67,7.30,0.37,novodra,26u - 23u,26u,23u,NaN
347,lixue,hsueh,9.21,8.80,0.41,novodra,22u - 23u,22u,23u,injection site discomfort
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u,28u,26u,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u,42u,44u,injection site discomfort

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

##### Define
Adverse reactions table is no longer needed so ignore that part. Isolate the patient ID and names in the `patients` table, then convert these names to lower case to join with `treatments`. Then drop the given name and surname columns in the treatments table (so these being lowercase isn't an issue anymore).

*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for one function used in the solution and [tutorial](http://erikrood.com/Python_References/dropping_rows_cols_pandas.html) for another function used in the solution.*

##### Code

In [86]:
id_names = patients_clean[['patient_id', 'given_name', 'surname']]
id_names.given_name = id_names.given_name.str.lower()
id_names.surname = id_names.surname.str.lower()
treatments_clean = pd.merge(treatments_clean, id_names, on=['given_name', 'surname'])
treatments_clean = treatments_clean.drop(['given_name', 'surname'], axis=1)

C:\Users\admin\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

##### Test

In [88]:
# Confirm the merge was executed correctly
treatments_clean

,hba1c_start,hba1c_end,hba1c_change,treatment,dose,dose_start,dose_end,adverse_reaction,patient_id
0,7.63,7.20,0.43,auralin,41u - 48u,41u,48u,NaN,225
1,7.97,7.62,0.35,auralin,33u - 36u,33u,36u,NaN,242
2,7.65,7.27,0.38,auralin,37u - 42u,37u,42u,NaN,345
3,7.89,7.55,0.34,auralin,31u - 38u,31u,38u,NaN,276
4,7.76,7.37,0.39,auralin,30u - 36u,30u,36u,NaN,15
5,7.70,7.19,0.51,auralin,29u - 36u,29u,36u,hypoglycemia,70
6,7.70,7.19,0.51,auralin,29u - 36u,29u,36u,hypoglycemia,70
7,9.54,9.14,0.40,auralin,29u - 38u,29u,38u,NaN,18
8,7.74,7.30,0.44,auralin,27u - 37u,27u,37u,NaN,424
9,7.78,7.34,0.44,auralin,55u - 68u,55u,68u,NaN,292
10,7.53,7.13,0.40,auralin,28u - 37u,28u,37u,NaN,211
11,7.61,7.29,0.32,auralin,29u - 39u,29u,39u,NaN,133
12,8.61,8.18,0.43,auralin,53u - 60u,53u,60u,NaN,316
13,9.68,9.29,0.39,auralin,31u - 41u,31u,41u,NaN,101
14,7.79,7.40,0.39,auralin,42u - 51u,42u,51u,throat irritation,451
15,7.81,7.48,0.33,auralin,42u - 49u,42u,49u,NaN,335
16,7.70,7.38,0.32,auralin,35u - 39u,35u,39u,NaN,389
17,7.96,7.55,0.41,auralin,47u - 58u,47u,58u,NaN,71
18,7.68,7.24,0.44,auralin,45u - 48u,45u,48u,NaN,297
19,7.92,7.47,0.45,auralin,24u - 37u,24u,37u,NaN,188
20,7.92,7.57,0.35,auralin,44u - 55u,44u,55u,NaN,282
21,7.53,7.15,0.38,auralin,37u - 43u,37u,43u,NaN,174
22,7.67,7.37,0.30,auralin,43u - 47u,43u,47u,NaN,146
23,7.86,7.51,0.35,auralin,36u - 42u,36u,42u,NaN,35
24,9.18,8.64,0.54,auralin,29u - 37u,29u,37u,NaN,350
25,7.61,7.16,0.45,auralin,57u - 64u,57u,64u,NaN,220
26,7.52,7.11,0.41,auralin,54u - 67u,54u,67u,NaN,102
27,7.71,7.34,0.37,auralin,34u - 42u,34u,42u,NaN,181
28,7.87,7.47,0.40,auralin,29u - 37u,29u,37u,NaN,466
29,7.74,7.32,0.42,auralin,61u - 67u,61u,67u,NaN,205
...,...,...,...,...,...,...,...,...,...
319,7.98,7.60,0.38,novodra,37u - 38u,37u,38u,NaN,187
320,7.61,7.14,0.47,novodra,28u - 24u,28u,24u,NaN,234
321,7.99,7.56,0.43,novodra,24u - 26u,24u,26u,NaN,479
322,7.73,7.34,0.39,novodra,20u - 21u,20u,21u,NaN,49
323,7.71,7.30,0.41,novodra,46u - 46u,46u,46u,NaN,356
324,7.54,7.17,0.37,novodra,26u - 27u,26u,27u,NaN,208
325,7.51,7.08,0.43,novodra,34u - 33u,34u,33u,injection site discomfort,373
326,7.89,7.55,0.34,novodra,30u - 35u,30u,35u,NaN,63
327,7.71,7.30,0.41,novodra,33u - 33u,33u,33u,NaN,1
328,8.00,7.50,0.50,novodra,35u - 34u,35u,34u,NaN,291
329,7.79,7.45,0.34,novodra,30u - 27u,30u,27u,NaN,363
330,7.70,7.36,0.34,novodra,37u - 41u,37u,41u,NaN,465
331,7.84,7.37,0.47,novodra,43u - 40u,43u,40u,NaN,421
332,8.90,8.57,0.33,novodra,34u - 34u,34u,34u,injection site discomfort,376
333,7.64,7.24,0.40,novodra,40u - 36u,40u,36u,NaN,463
334,7.54,7.26,0.28,novodra,37u - 40u,37u,40u,NaN,81
335,7.67,7.21,0.46,novodra,26u - 23u,26u,23u,NaN,322
336,9.41,8.94,0.47,novodra,40u - 45u,40u,45u,NaN,392
337,7.68,7.36,0.32,novodra,52u - 52u,52u,52u,NaN,262
338,7.78,7.39,0.39,novodra,37u - 39u,37u,39u,NaN,68
339,7.63,7.25,0.38,novodra,42u - 42u,42u,42u,NaN,152
340,7.92,7.52,0.40,novodra,26u - 25u,26u,25u,NaN,431
341,7.99,7.70,0.29,novodra,36u - 33u,36u,33u,NaN,450
342,7.55,7.18,0.37,novodra,42u - 41u,42u,41u,NaN,194
343,7.65,7.26,0.39,novodra,32u - 33u,32u,33u,NaN,7
344,7.51,7.06,0.45,novodra,55u - 51u,55u,51u,nausea,153
345,7.67,7.30,0.37,novodra,26u - 23u,26u,23u,NaN,420
346,9.21,8.80,0.41,novodra,22u - 23u,22u,23u,injection site discomfort,336
347,7.96,7.51,0.45,novodra,28u - 26u,28u,26u,hypoglycemia,25
348,7.68,7.21,0.47,novodra,42u - 44u,42u,44u,injection site discomfort,477

In [89]:
# Patient ID should be the only duplicate column
all_columns = pd.Series(list(patients_clean) + list(treatments_clean))
all_columns[all_columns.duplicated()]

23    patient_id
dtype: object

### Quality

<font color='red'>Complete the remaining "Quality" **Define, Code, and Test** sequences after watching the *"Cleaning for Quality"* video.</font>

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Define
Convert the zip code column's data type from a float to a string using `astype`, remove the '.0' using string slicing, and pad four digit zip codes with a leading 0.

##### Code

In [92]:
patients_clean.zip_code = patients_clean.zip_code.astype(str).str[:-2].str.pad(5, fillchar='0')
# Reconvert NaNs entries that were converted to '0000n' by code above
patients_clean.zip_code = patients_clean.zip_code.replace('0000n', np.nan)

##### Test

In [93]:
patients_clean.zip_code.head()

0    92390
1    61812
2    68467
3    07095
4    36303
Name: zip_code, dtype: object

#### Tim Neudorf height is 27 in instead of 72 in

##### Define
Replace height for rows in the `patients` table that have a height of 27 in (there is only one) with 72 in.

##### Code

In [95]:
patients_clean.height = patients_clean.height.replace(27, 72)

##### Test

In [96]:
# Should be empty
patients_clean[patients_clean.height == 27]

Empty DataFrame
Columns: [patient_id, assigned_sex, given_name, surname, address, city, state, zip_code, country, birthdate, weight, height, bmi, phone_number, email]
Index: []

#### Full state names sometimes, abbreviations other times

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html) for method used in solution.*

##### Code

In [100]:
# Mapping from full state name to abbreviation
state_abbrev = {'California': 'CA',
                'New York': 'NY',
                'Illinois': 'IL',
                'Florida': 'FL',
                'Nebraska': 'NE'}

# Function to apply
def abbreviate_state(patient):
    if patient['state'] in state_abbrev.keys():
        abbrev = state_abbrev[patient['state']]
        return abbrev
    else:
        return patient['state']
    
patients_clean['state'] = patients_clean.apply(abbreviate_state, axis=1)

##### Test

In [101]:
patients_clean.state.unique()

array(['CA', 'IL', 'NE', 'NJ', 'AL', 'FL', 'NV', 'MO', 'NY', 'MI', 'TN',
       'VA', 'OK', 'GA', 'MT', 'MA', 'NM', 'LA', 'PA', 'CO', 'ME', 'WI',
       'SD', 'MN', 'WY', 'OH', 'IA', 'NC', 'IN', 'CT', 'KY', 'DE', 'MD',
       'AZ', 'TX', 'AK', 'ND', 'KS', 'MS', 'WA', 'SC', 'WV', 'RI', 'NH',
       'OR', nan, 'VT', 'ID', 'DC', 'AR'], dtype=object)

#### Dsvid Gustafsson

##### Define
Replace given name for rows in the `patients` table that have a given name of 'Dsvid' with 'David'.

##### Code

In [102]:
patients_clean.given_name = patients_clean.given_name.replace('Dsvid', 'David')

##### Test

In [103]:
patients_clean[patients_clean.surname == 'Gustafsson']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
8,9,male,David,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,3/6/1937,163.9,66,26.5,816-265-9578,DavidGustafsson@armyspy.com

#### Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns) and Erroneous datatypes (auralin and novodra columns) and The letter 'u' in starting and ending doses for Auralin and Novodra

##### Define
Convert assigned sex and state to categorical data types. Zip code data type was already addressed above. Convert birthdate to datetime data type. Strip the letter 'u' in start dose and end dose and convert those columns to data type integer.

*Your definition here. Hint: [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html) for one method used in solution, [documentation page](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html) for one function used in the solution, and [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.strip.html) for another method used in the solution.*

##### Code

In [104]:
# To category
patients_clean.assigned_sex = patients_clean.assigned_sex.astype('category')
patients_clean.state = patients_clean.state.astype('category')

# To datetime
patients_clean.birthdate = pd.to_datetime(patients_clean.birthdate)

# Strip u and to integer
treatments_clean.dose_start = treatments_clean.dose_start.str.strip('u').astype(int)
treatments_clean.dose_end = treatments_clean.dose_end.str.strip('u').astype(int)

##### Test

In [105]:
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 15 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null category
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null category
zip_code        491 non-null object
country         491 non-null object
birthdate       503 non-null datetime64[ns]
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
phone_number    491 non-null object
email           491 non-null object
dtypes: category(2), datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 53.9+ KB

In [106]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 348
Data columns (total 9 columns):
hba1c_start         349 non-null float64
hba1c_end           349 non-null float64
hba1c_change        349 non-null float64
treatment           349 non-null object
dose                349 non-null object
dose_start          349 non-null int32
dose_end            349 non-null int32
adverse_reaction    35 non-null object
patient_id          349 non-null int64
dtypes: float64(3), int32(2), int64(1), object(3)
memory usage: 24.5+ KB

#### Multiple phone number formats

##### Define
##### Define
Strip all " ", "-", "(", ")", and "+" and store each number without any formatting. Pad the phone number with a 1 if the length of the number is 10 digits (we want country code).

*Your definition here. Hint: helpful [Stack Overflow answer](https://stackoverflow.com/a/123681).*

##### Code

In [107]:
patients_clean.phone_number = patients_clean.phone_number.str.replace(r'\D+', '').str.pad(11, fillchar='1')

##### Test

In [108]:
patients_clean.phone_number.head()

0    19517199170
1    12175693204
2    14023636804
3    17326368246
4    13345157487
Name: phone_number, dtype: object

#### Default John Doe data

##### Define
Remove the non-recoverable John Doe records from the `patients` table.

##### Code

In [109]:
patients_clean = patients_clean[patients_clean.surname != 'Doe']

##### Test

In [110]:
# Should be no Doe records
patients_clean.surname.value_counts()

Jakobsen         3
Taylor           3
Silva            2
Correia          2
Berg             2
Collins          2
BÃ¹i              2
Souza            2
Parker           2
CindriÄ          2
WoÅºniak          2
Nilsen           2
LÃ¢m              2
Aranda           2
Dratchev         2
Schiavone        2
Gersten          2
Cabrera          2
Johnson          2
Kowalczyk        2
Liá»u             2
Lund             2
Ogochukwu        2
Batukayev        2
Táº¡               2
Hueber           2
GrÃ­msdÃ³ttir      2
Tucker           2
Kadyrov          2
LÆ°Æ¡ng            2
                ..
VukeliÄ          1
Fesahaye         1
Yudina           1
Barsukov         1
Koivunen         1
Selassie         1
Petersen         1
Eskelinen        1
Radislav         1
Piirainen        1
Poulsen          1
Dreher           1
TraustadÃ³ttir    1
Mansour          1
Freud            1
Villalpando      1
Achebe           1
Borgen           1
Cumpston         1
Haugen           1
Shuler           1
Tromp            1
Milne            1
Russo            1
Zaitseva         1
JakÅ¡iÄ           1
Rushisvili       1
Tomaszewski      1
Rukavina         1
Obinna           1
Name: surname, Length: 465, dtype: int64

#### Multiple records for Jakobsen, Gersten, Taylor

##### Define
Remove the Jake Jakobsen, Pat Gersten, and Sandy Taylor rows from the `patients` table. These are the nicknames, which happen to also not be in the `treatments` table (removing the wrong name would create a consistency issue between the `patients` and `treatments` table). These are all the second occurrence of the duplicate. These are also the only occurences of non-null duplicate addresses.

##### Code

In [116]:
# tilde means not: http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing
patients_clean = patients_clean[~((patients_clean.address.duplicated()) & patients_clean.address.notnull())]

##### Test

In [118]:
patients_clean[patients_clean.surname == 'Jakobsen']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,NY,12771,United States,1985-08-01,155.8,67,24.4,18458587707,JakobCJakobsen@einrot.com
432,433,female,Karen,Jakobsen,1690 Fannie Street,Houston,TX,77020,United States,1962-11-25,185.2,67,29.0,19792030438,KarenJakobsen@jourrapide.com

In [119]:
patients_clean[patients_clean.surname == 'Gersten']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
97,98,male,Patrick,Gersten,2778 North Avenue,Burr,NE,68324,United States,1954-05-03,138.2,71,19.3,14028484923,PatrickGersten@rhyta.com

In [121]:
patients_clean[patients_clean.surname == 'Taylor']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
131,132,female,Sandra,Taylor,2476 Fulton Street,Rainelle,WV,25962,United States,1960-10-23,206.1,64,35.4,13044382648,SandraCTaylor@dayrep.com
426,427,male,Rogelio,Taylor,4064 Marigold Lane,Miami,FL,33179,United States,1992-09-02,186.6,69,27.6,13054346299,RogelioJTaylor@teleworm.us

#### kgs instead of lbs for Zaitseva weight

##### Define
Use [advanced indexing](https://stackoverflow.com/a/44913631) to isolate the row where the surname is Zaitseva and convert the entry in its weight field from kg to lbs.

##### Code

In [129]:
patients_clean[patients_clean.surname == 'Zaitseva']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
210,211,female,Camilla,Zaitseva,4689 Briarhill Lane,Wooster,OH,44691,United States,1938-11-26,268.302254,63,19.1,13302022145,CamillaZaitseva@superrito.com

In [127]:
weight_kg = patients_clean.weight.sort_values()[0]
mask = patients_clean.surname == 'Zaitseva'
column_name = 'weight'
patients_clean.loc[mask, column_name] = weight_kg * 2.20462

##### Test

In [131]:
# 48.8 shouldn't be the lowest anymore
patients_clean.weight.sort_values()

459    102.100000
335    102.700000
74     103.200000
317    106.000000
171    106.500000
51     107.100000
270    108.100000
198    108.500000
48     109.100000
478    109.600000
141    110.200000
38     111.800000
438    112.000000
14     112.000000
235    112.200000
307    112.400000
191    112.600000
408    113.100000
49     113.300000
326    114.000000
338    114.100000
253    117.000000
321    118.400000
168    118.800000
1      118.800000
350    119.000000
207    119.200000
265    120.000000
341    120.300000
208    121.200000
          ...
12     224.200000
252    224.200000
222    224.800000
166    225.300000
111    225.900000
101    226.200000
150    226.600000
88     227.700000
352    227.700000
428    227.700000
13     228.400000
339    229.000000
182    230.300000
121    230.800000
257    231.700000
395    231.900000
246    232.100000
219    237.800000
11     238.700000
50     238.900000
441    239.100000
499    239.600000
439    242.000000
487    242.400000
61     244.900000
144    244.900000
283    245.500000
118    254.500000
485    255.900000
210    268.302254
Name: weight, Length: 494, dtype: float64